@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l"> Select a training provider </h1>

                <p class="govuk-body"> Select one of your current training providers to give feedback on. </p>

                <div class="govuk-inset-text">
                    <p> Feedback can be given once every @Model.FeedbackRate for each training provider. </p>
                    <p> You can start giving feedback from @Model.FeedbackInitialDenyPeriod after your planned training start date. </p>
                </div>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Why can't I see all my training providers?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p> The list includes all the training providers for your current apprenticeship and any that you have recently completed.</p>
                        <p> We have not included any training providers from previous apprenticeships that you completed or withdrew from over @Model.FeedbackFinalAllowPeriod ago.</p>
                    </div>
                </details>

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"> Training provider </th>
                            <th scope="col" class="govuk-table__header"> Feedback status </th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"> Date submitted </th>
                            <th scope="col" class="govuk-table__header"> Action </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var provider in Model.TrainingProviderItems)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">@provider.Name </th>

                                <td class="govuk-table__cell">
                                    @if(provider.FeedbackEligibility == Domain.Models.Feedback.FeedbackEligibility.Deny_TooSoon)
                                    {
                                        <strong class="govuk-tag govuk-tag--grey">YOU CANNOT SUBMIT YET</strong>
                                    }                                                                    
                                    else if(!provider.DateSubmitted.Equals(IndexModel.ProviderItem.NO_SUBMITTED_DATE, StringComparison.InvariantCultureIgnoreCase))
                                    {
                                        <strong class="govuk-tag govuk-tag govuk-tag--green">SUBMITTED</strong>
                                    }                                                                    
                                    else if(provider.FeedbackEligibility == Domain.Models.Feedback.FeedbackEligibility.Allow)
                                    {
                                        <strong class="govuk-tag govuk-tag--blue">YOU CAN SUBMIT</strong>
                                    }                                                                    
                                </td>

                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    @provider.DateSubmitted
                                </td>

                                <td class="govuk-table__cell">
                                    @if (provider.FeedbackEligibility == Domain.Models.Feedback.FeedbackEligibility.Allow)
                                    {
                                    <a href="start/@provider.Ukprn">Select</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
</div>